@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #2362b9;
}

.container {
  max-width: 752px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 72px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(17, 24, 38, 0.21);
  padding: 2rem 2.5rem;
  color: #102d80;
}

.general-div > div,
.contact-div > div,
.header {
  padding-bottom: 20px;
  border-color: #c3cad8;
  background-color: #ffffff;
}

input[type="text"],
input[type="number"],
select {
  padding: 0.4rem;
  border-radius: 4px;
  border: 0.5px solid gray;
}

input [for="attend"] {
  display: block;
}
[for="attend"] + select {
  display: block;
  width: 70%;
  outline: none;
  padding: 0.2rem 0.3rem;
}

[name="money"],
[name="entertaining"] {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
[name="money"] span,
[name="entertaining"] span {
  display: inline-block;
  width: 2.1rem;
  height: 2.1rem;
  position: relative;
}
[name="money"] span input,
[name="entertaining"] span input {
  width: 2rem;
  height: 2rem;

  background-color: transparent;
  cursor: pointer;
}
[name="money"] span label,
[name="entertaining"] span label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
/* 
[name="entertaining"] span input:checked + label {
  background: #ccf;
  border-color: #ccf;
} */

label {
  font-size: 1.2rem;
}

[type="radio"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.error-msg {
  color: red;
  font-size: 0.75em;
  margin-top: 5px;
  margin-bottom: 8px;
}

.email {
  display: flex;
}

.multi-input input + label {
  display: block;
  font-size: 0.8rem;
}

.multi-input {
  display: flex;
}

.multi-input div {
  width: 100%;
  padding-right: 1rem;
}

.multi-input input {
  width: 100%;
}

.submit-button {
  display: flex;
  justify-content: center;
}
button {
  padding: 0.3rem 5rem;
  background-color: darkorange;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* media quieries */
@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }

  .multi-input {
    display: flex;
    flex-direction: column;
  }

  .submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  [name="money"],
  [name="entertaining"] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
